body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #E8E8E8;
    width: 380px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.display {
    width: 330px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 20px;
    font-size: 40px;
    color: #000;
    margin-bottom: 30px;
}

.display__history{
    border : solid 2px #000;
    font-size: 22px;
    color: #000;
    margin-bottom: 0px;
    text-align: right;
}

/* button{
    width: 75px;
    height: 75px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: none;
    outline: none;
    font-size: 30px;
    color: #000;
    cursor: pointer;
} */

button {
    width: 75px;
    height: 60px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #282828;
    background-color: #F5F5F5;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
button:hover {background-color: #DCDCDC}
  
button:active {
    background-color: #DCDCDC;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.active{
    /* background-color: #DCDCDC; */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttons{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 16px;
}

.buttons__row{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

#first{
    justify-content: flex-end;
}

.buttons__item--operator {
    background-color: #FF9500;
    color: #fff;
}

.buttons__item--operator:hover {
    background-color: rgb(175, 69, 0);
}

.buttons__item--operator:active {
    background-color: rgb(175, 69, 0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttons__item--equal {
    background-color: #58b41f;
    color: #fff;
}

.buttons__item--equal:hover {
    background-color: rgb(8, 100, 0);
}

.buttons__item--equal:active {
    background-color:  rgb(8, 100, 0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttons__item--clear {
    background-color: #ea0b0b;
    color: #fff;
}

.buttons__item--clear:hover {
    background-color: rgb(154, 0, 0);
}

.buttons__item--clear:active {
    background-color: rgb(154, 0, 0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.num-power{
    background-color: blue;
    color: #fff;
}

.num-power:hover{
    background-color: rgb(0, 0, 175);
}

.num-power:active{
    background-color: rgb(0, 0, 175);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttons__item--factorial {
    background-color: blue;
    color: #fff;
}

.buttons__item--factorial:hover {
    background-color: rgb(0, 0, 175);
}

.buttons__item--factorial:active {
    background-color: rgb(0, 0, 175);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttons__item--backspace {
    background-color: #ffce1a;
    color: #fff;
}

.buttons__item--backspace:active {
    background-color: rgb(175, 126, 0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttons__item--backspace:hover {
    background-color: rgb(175, 126, 0);
}

